<style>
   .container{
      text-align: center; 
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
   }
   form{
      text-align: center; 
   }
   .box{
      text-align: center; 
      border: 1px solid;
      box-shadow: inset 0 0 20px rgba(123, 30, 177, 1), 0 0 20px rgba(17, 228, 228, 1);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      padding-bottom: 20px;
   }
   .input{
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid;
        text-shadow: 1px 1px 2px #153b4b; 
   }

   button{
      padding: 5px;
      border: 0 solid;
      text-shadow: none;
      transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      border-radius: 20px;
      margin-left: 80px;
   }

   button:hover {
   border: 1px solid;
   box-shadow: inset 0 0 20px rgba(123, 30, 177, 1), 0 0 20px rgba(17, 228, 228, 1);
   outline-color: rgba(255, 255, 255, 0);
   outline-offset: 15px;
   text-shadow: 1px 1px 2px #153b4b; 
}
</style>
<div class="container">
   <h1 class="title">Login</h1>
   <div class="box">
      <form action="/login" method="post">
         <div class="field">
            <label class="label">Email</label>
            <div class="control">
               <input class="input" type="email" placeholder="e.g. al@ace.ca" name="email" id="email">
            </div>
         </div>
         
         <div class="field">
            <label class="label">Password</label>
            <div class="control">
               <input class="input" type="password" name="password" id="password">
            </div>
         </div>
         <div class="control">
            <button type="submit" class="button is-link">Login</button>
         </div>
         <%
                  if (message) { %>
         <p id="msg2" class="help is-danger">
            <%= message %>
         </p>
         <% } %>
</form>
   </div>
   <div>Sample Login Credentials</div>
   <p>Email: al@ace.ca</p>
   <p>Password: mypassword</p>
</div>