<div class="container">
   <h1 class="title">Signup</h1>
   <div class="box">
      <form action="" method="post">
         <div class="field">
            <label class="label">First Name</label>
            <div class="control">
               <input class="input" type="text" name="firstname">
            </div>
         </div>     
         <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
               <input class="input" type="text" name="lastname">
            </div>
         </div>   
         <div class="field">
            <label class="label">City</label>
            <div class="control">
               <input class="input" type="text" name="city">
            </div>
         </div>     
         <div class="field">
            <label class="label">Country</label>
            <div class="control">
               <input class="input" type="text" name="country">
            </div>
         </div>                                                                       
         <div class="field">
            <label class="label">Email</label>
            <div class="control">
               <input class="input" name="email" type="email" placeholder="e.g. alexsmith@gmail.com">
            </div>
         </div>

         <div class="field">
            <label class="label">Password</label>
            <div class="control">
               <input class="input" type="password" name="password1">
            </div>
         </div>
         <div class="field">
               <label class="label">Password Again</label>
               <div class="control">
                  <input class="input" type="password" name="password2">
               </div>
            </div>                  
         <div class="control">
            <button type="submit" class="button is-link">Register Locally</button>
         </div>

      </form>
   </div>
</div>